
*{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    font-size:62.5%; 
}

/*main container */
#container{
    background-color: rgb(58, 56, 56);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:100vh;
    position: relative;
    color:white;
    background-color: rgb(54, 2, 44);
}

/* animation when Alarm ringingn */
.colors{
    animation:colors 0.7s ease-in-out;
    transition:all .1s ease;
    animation-iteration-count: infinite;
}

@keyframes colors {
    0%{
        background-color: red;
    }
    20%{
        background-color: blue;
    }
    40%{
        background-color: green;
    }
    60%{
        background-color: rgb(233, 233, 22);
    }
    80%{
        background-color: purple;
    }
    100%{
        background-color: pink;
    } 
}

h1{
    margin-top:1rem;
    box-sizing: border-box;
    font-size: 3.5rem;
}

#clock_icon{
    font-size: 4rem;
}

/* animation for clock icon at the top on ringing */
.ringing{
    margin-top: 1.5rem;
    animation-name:ringing ;
    animation:ringing 0.7s ease-in-out both;
    transform-origin:50% 0 ;
    animation-iteration-count: infinite;
}

@keyframes ringing {
   0%{transform:scale(1.5); color:red  }
   20%{transform:scale(1);color:blue   }
   40%{transform:scale(1.6); color:green  }
   80%{transform:scale(1);   color:yellow}
   10%{transform:scale(1.5);  color:pink }
}

/*To show current Tiime*/
#clock{
    height:30%;
    width:50%;
    font-size: 12rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;;
    color:rgb(125, 42, 202);
}

/*Set Alarm container */
#setAlarm{
    padding:1.5rem;
    height:10rem;
    width:50vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(125, 42, 202);
}

#setAlarm h1{
    font-size:3rem;
    margin:0;
}

#input_div{
    display:flex;
    align-items: center;
}


input{
    width:5rem;
    height:3rem;
    margin-right:.1rem;
    outline: none;
    cursor: pointer;
}
form{
    margin-left:.2rem;
}

input[type=radio]{
    height:1.5rem;
    width:1.5rem;
    transform: scale(1.1);
    font-size: 1.2rem;
    color:red;
    margin-left:.6rem;
}

label{
    font-size:1.5rem;
}

/* container for saving alarm and stopping ringing alarm */
#set_container{
    width:300px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin:10px 0; */
}

/*button to start and stop */
#set,#stop{
    height:35px;
    width:78px;
    border:1px solid white;
    border-radius:10px;
    padding:0 17px;
    color:white;
    margin-right:3px;
    cursor: pointer;
    border:1px solid white;
    font-weight: bold;
    transition:all .2s ease;
}

#set:hover{
    border:3px solid greenyellow;
    color:greenyellow;
}

#stop:hover{
    border:3px solid red;
    color:red;
}

/* Alarm List container */
#alarm_list_container{
    max-height:17.5rem;
    width:50vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    
}

/* display all the alarms set */
.display_alarms{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    min-height:40px;
    margin-top:5px;
    color:white;
    cursor:pointer;
    transition:all .2s ease;
    background-color: rgb(125, 42, 202);
}

.display_alarms:hover{
    background-color:rgb(189, 155, 220); 
    transition:all .1 ease;
}

.display_alarms:hover .alarm_time{
    color:black;
}

.alarm_time{
    min-width:50%;
    font-weight: 800;
    font-size:1.5rem;
}

button{
    border:none;
    background-color: transparent;
    outline:none;
}

.display_alarms .fa-clock-o{
    font-size:2.5rem !important;
}
/*delete button for deleting  specific alarm*/
.fa-trash{
    font-size:2.5rem !important;
    color:white;
    border:none;
    cursor: pointer;
    transition:all .2s ease;
}

.fa-trash:hover{
    transform:scale(1.2);
    color:rgb(247, 7, 7);
}

#alarm_list_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    margin-top:20px;
    font-size:2rem;
}

/*to display or not display heading "Alarms" depending upon the alarm set or not */
.invisible{
    display:none;
    color:red;
    transition:all .2s ease;
}

#clear_all{
    color:white;;
    /* border:1px solid white; */

    cursor:pointer;
    border-radius:10px;
    padding:0 17px;
    height:40px;
    margin-right:35px;
    font-size:1.5rem;
    transition:all .3s ease;
}

#clear_all:hover{
    color:rgb(97, 182, 235);
    border:3px solid rgb(97, 182, 235);
    font-weight: bold;
}



/*MEDIA QUERY SCREEN 1000PX*/


@media  screen and (max-width:1000px){
    :root{
        font-size:40%;
    }

    body{
        overflow: hidden;
    }

    /*main container */
    #container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:100vw !important;
    max-height:100vh !important;
    position: relative;
    color:white;
}

/* animation when Alarm ringingn */
.colors{
    animation:colors 0.7s ease-in-out;
    transition:all .1s ease;
    animation-iteration-count: infinite;
}

@keyframes colors {
    0%{
        background-color: red;
    }
    20%{
        background-color: blue;
    }
    40%{
        background-color: green;
    }
    60%{
        background-color: rgb(233, 233, 22);
    }
    80%{
        background-color: purple;
    }
    100%{
        background-color: pink;
    } 
}

h1{
    margin-top:3rem;
    box-sizing: border-box;
    font-size: 1vmin !important;

}

#clock_icon{
    font-size: 5vmin !important;
    /* height:5%; */
}

/* animation for clock icon at the top on ringing */
.ringing{
    margin-top: 5%;
    animation-name:ringing ;
    animation:ringing 0.7s ease-in-out both;
    transform-origin:50% 0 ;
    animation-iteration-count: infinite;
}

@keyframes ringing {
   0%{transform:scale(1.5); color:red  }
   20%{transform:scale(1);color:blue   }
   40%{transform:scale(1.6); color:green  }
   80%{transform:scale(1);   color:yellow}
   10%{transform:scale(1.5);  color:pink }
}

/*To show current Tiime*/
#clock{
    height:13%;
    width:80%;
    font-size: 10vmin !important;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;;
    color:rgb(125, 42, 202);
    font-weight: bold;
}

/*Set Alarm container */
#setAlarm{
    padding:1rem;
    height:20% !important;
    width:80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(125, 42, 202);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:0;
}

#setAlarm h1{
    font-size:5.5vmin !important;

    min-height:30%;
    /* margin:0;
    height:20%; */
}

#input_div{
    display:flex;
    align-items: center;
    margin:0;
    padding :0;
    min-height:35%;
    width:80%;
    
}


input{
    width:20%;
    height:60%;
    margin-right:.1rem;
    outline: none;
    cursor: pointer;
    font-size:4vmin !important;
}
form{
    margin-left:.2rem;
}

input[type=radio]{
    height:1.5rem;
    width:1.5rem;
    transform: scale(1.3);
    font-size: 1.2rem;
    color:red;
    margin-left:2vmin;
}

label{
    font-size:3vmin !important;
    margin-left:2vmin;
}

/* container for saving alarm and stopping ringing alarm */
#set_container{
    width:80%;
    min-height:35% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*button to start and stop */
#set,#stop{
    height:70%;
    width:35%;
    border:1px solid white;
    border-radius:10px;
    /* padding:0 17px; */
    color:white;
    margin-right:3px;
    cursor: pointer;
    border:1px solid white;
    font-weight: bold;
    transition:all .2s ease;
    font-size: 3vmin !important;
}

#set:hover{
    border:3px solid greenyellow;
    color:greenyellow;
}

#stop:hover{
    border:3px solid red;
    color:red;
}

/* Alarm List container */
#alarm_list_container{
    min-height:44% !important;
    width:80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin-bottom:5%;
}

/* display all the alarms set */
.display_alarms{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    min-height:24%;
    margin-top:.6%;
    color:white;
    cursor:pointer;
    transition:all .2s ease;
    background-color: rgb(125, 42, 202);
}

.display_alarms:hover{
    background-color:rgb(189, 155, 220); 
    transition:all .1 ease;
}

.display_alarms:hover .alarm_time{
    color:black;
}

.alarm_time{
    min-width:50%;
    font-weight: 800;
    font-size:4vmin;
}

button{
    border:none;
    outline:none;
    
}

.display_alarms .fa-clock-o{
    font-size:8vmin !important;
}
/*delete button for deleting  specific alarm*/
.fa-trash{
    font-size:8vmin !important;
    color:white;
    border:none;
    cursor: pointer;
    transition:all .2s ease;
}

.fa-trash:hover{
    transform:scale(1.2);
    color:rgb(247, 7, 7);
}

#alarm_list_head{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width:80%;
    /* margin-top:20px; */
    /* font-size:3rem; */
    height:6%;
    
}

/*to display or not display heading "Alarms" depending upon the alarm set or not */
.invisible{
    display:none;
    color:red;
    transition:all .2s ease;
}

#clear_all{
    color:white;;
    cursor:pointer;
    border-radius:10px;
    /* height:80%; */
    width:30%;
    font-size:5vmin !important;
    transition:all .3s ease;
    margin:0;
}

#clear_all:hover{
    color:rgb(97, 182, 235);
    border:3px solid rgb(97, 182, 235);
    font-weight: bold;
}

#no_alarm{
    font-size:7vmin !important;
}
}
    












/*MEDIA QUERY 1000PX */
